@using EntityLayer.Concrete
@model List<Location>

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>Code</th>
        <th>Location</th>
    </tr>
    <!-- Bu yapı yerine farklı bir şey kullanmam lazım. -->
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Code</td>
            <td>@item.Name</td>
        </tr>
    }
</table>